:root {
     --board-height: 400px;
     --eval-bar-width: 30px;
     font-family: Helvetica, sans-serif;
     line-height: 1.5;
     font-weight: 400;
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
}

body {
     background-color: #3a5a40;
     color: white;
     margin: 0;
     display: flex;
     gap: 2rem;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

.board {
     background: url("/board.png") no-repeat;
     background-size: cover;
     width: var(--board-height);
     height: var(--board-height);
     display: grid;
     grid-template-rows: repeat(5, 80px);
     grid-template-columns: repeat(5, 80px);
     column-gap: 19px;
     row-gap: 18px;
     margin-bottom: 2rem;
}

.cell {
     position: relative;
     transform: translate(-18px, -19px);
     height: 40px;
     cursor: pointer;
     color: red;
     font-size: 2rem;
     max-width: 41px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.active {
     background-color: #6b7042;
}

.cell > img {
     width: 40px;
}

.game-info {
     width: fit-content;
}

.game-info,
.best-moves {
     margin-left: 107px;
}

label {
     display: block;
}

.board {
     margin-top: 1rem;
}

.game {
     display: none;
     flex-direction: column;
     align-items: center;
}

.hidden {
     display: none;
}

button {
     cursor: pointer;
}

.best-moves {
     display: none;
}

.board-wrapper {
     display: flex;
     gap: 4rem;
     align-items: center;
}

.eval-bar-container {
     width: var(--eval-bar-width);
     height: 400px;
     background-color: white;
     position: relative;
     margin-bottom: 18px;
}

.eval-bar {
     max-height: 400px;
     position: absolute;
     top: 0;
     height: calc(var(--board-height) / 2);
     width: 100%;
     background-color: black;
     transition: height 0.5s ease-in;
}

.winner {
     margin-left: 107px;
     text-align: center;
}
