:root {
     font-family: Helvetica, sans-serif;
     line-height: 1.5;
     font-weight: 400;
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
}

body {
     background-color: #3a5a40;
     color: white;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

.board {
     background: url("/board.png") no-repeat;
     background-size: cover;
     width: 400px;
     height: 400px;
     display: grid;
     grid-template-rows: repeat(5, 80px);
     grid-template-columns: repeat(5, 80px);
     column-gap: 19px;
     row-gap: 18px;
}

.cell {
     position: relative;
     transform: translate(-18px, -19px);
     height: 40px;
     cursor: pointer;
     color: red;
     font-size: 2rem;
     max-width: 41px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.active {
     background-color: #6b7042;
}

.cell > img {
     width: 40px;
}

.game-info {
     margin-right: 30px;
}
